.lesson-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  padding: 40px;
  background: rgb(52, 10, 59);
  color: white;
  border: 4px solid rgb(211, 106, 223);
  border-radius: 12px;
  font-size: 28px;
}

.lesson-card-wrapper > img {
  width: 200px;
}
