.lesson04-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
  padding: 50px;
  background: rgb(167, 190, 231);
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}
