.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  padding: 20px;
  background-color: rgb(33, 182, 110);
  border: 1px solid red;
  border-radius: 12px;
  color: blueviolet;
  font-size: 24px;
}
