.homework03-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex: 1;
  padding: 50px;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 600px;
  padding: 60px;
  border: 4px solid rgb(18,25,101);
} 