.profilecard-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 300px;
    padding: 20px;
    background-color: #0e4bb5;
    border: 4px solid goldenrod;
    border-radius: 10px;
    font-size: 24px;
}

.profilecard-wrapper > img {
    width: 150px;
}